/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make lines that indicate the steps of the form: */
.number-box {
  display: inline-block;
  width: 41px;
  text-align: center;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: #ffe26a;
  border-radius: 5px;
  align-content: center;
}
.step {
  height: 2px;
  width: 48px;
  margin: 0 2px;
  background-color: #e3e6ea;
  border: none;
  display: inline-block;
  opacity: 0.5;
  vertical-align: sub;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #ffe26a;
  opacity: 0.2;
}
